body {
  counter-reset: join-card-img;
}

/* Hero */
.hero {
  background: linear-gradient(var(--dark-sapphire), var(--dark-sapphire)),
    url(../images/careers/hero-bg.png) center/cover no-repeat;
}
.hero::after {
  content: url(../images/careers/hero-image.png);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero-container {
  padding-block: clamp(60px, 5.58vw, 62px) clamp(60px, 7.38vw, 82px);
}
.hero-container h1 {
  color: var(--white);
  font-size: clamp(40px, 4.68vw, 52px);
  line-height: clamp(40px, 4.68vw, 52px);
  letter-spacing: clamp(-1.79px, -0.22vw, -2.5px);
}

/* Join Us */
.join-us h2 {
  color: var(--deep-blue);
  font-size: clamp(32px, 4.32vw, 48px);
  line-height: clamp(32px, 4.32vw, 48px);
  letter-spacing: clamp(-1.43px, -0.19vw, -2.14px);
  margin-bottom: clamp(64px, 9.27vw, 103px);
}
.join-us .feature-cards-wrapper {
  gap: 56px 26px;
}
.join-us .feature-cards-wrapper .card {
  flex-basis: 350px;
}
.join-us .card .card-image {
  margin: 0 auto clamp(64px, 7.83vw, 87px);
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.join-us .card:nth-child(1) .card-image {
  background: url(../images/careers/join-card-1.svg) center/cover no-repeat;
}
.join-us .card:nth-child(2) .card-image {
  background: url(../images/careers/join-card-2.svg) center/cover no-repeat;
}
.join-us .card:nth-child(3) .card-image {
  background: url(../images/careers/join-card-3.svg) center/cover no-repeat;
}
.join-us .card-image::after {
  counter-increment: join-card-img;
  content: "0" counter(join-card-img) "";
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--orange-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--deep-blue);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
  text-align: center;
}
.join-us .card h3 {
  color: var(--deep-blue);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  margin-bottom: 27px;
}
.join-us .card p {
  color: var(--light-gray);
  font-size: 15px;
  line-height: 25px;
}

/* Career Opportunities */
.career-opportunities {
  margin-block: 120px clamp(120px, 14.41vw, 160px);
}
.career-opportunities ul {
  flex-direction: column;
  gap: clamp(16px, 2.16vw, 24px);
}
.career-opportunities ul li {
  padding: 32px clamp(32px, 3.78vw, 42px);
  background-color: var(--foggy-gray);
  gap: 16px 176px;
}
.career-opportunities ul h3 {
  color: var(--deep-blue);
  font-size: clamp(18px, 2.16vw, 24px);
  line-height: clamp(24px, 2.52vw, 28px);
  letter-spacing: clamp(-0.8px, -0.09vw, -1.07px);
  margin-bottom: clamp(4px, 0.72vw, 8px);
}
.career-opportunities ul h4 {
  color: var(--deep-blue);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
}

/* Media Queries */
@media (width < 754px) {
  .hero::after {
    display: none;
  }
  .hero-container h1 {
    text-align: center;
  }
  .career-opportunities {
    margin-top: 145px;
  }
  .career-opportunities ul li {
    padding-block: 36px;
    flex-direction: column;
  }
  .career-opportunities ul div {
    text-align: center;
  }
  .career-opportunities ul .primary-button {
    width: 100%;
  }
}
